body {
    background-color: #121212;
    color: white;
    /* font-size: 36px; */
    font-family: 'Noto Sans KR', sans-serif;
    
    margin-top: 40px;
    /* font-weight: bold; */
}

h1 {
    text-align: center;
}


.track-number {
    grid-column: 1;
    padding-right: 46px;
    padding-left: 10px;
    padding-top: 4px;
}

.track-name {
    grid-column: 2;
    max-width: 258px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 4px;
}

.track-length {
    grid-column: 3;
    padding-top: 4px;
}

.track-grid {
    display: grid;
    grid-template-columns: 50px 258px 50px;
    grid-template-rows: 28px;
    margin: 0 auto;
    /* background-color: #2b2b2b; */
}

.track-grid:hover {
    background-color: #2b2b2b;
    cursor: pointer;
}

.track-border {
    border-top: #2b2b2b 1px solid;
}