body {
    background-color: #121212;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 40px;
    padding: 0;
}

h2 {
    text-align: left;
    border-bottom: #2b2b2b 3px solid;
    padding-bottom: 5px;
}

/* album info div grid */

.album-grid {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 313px 15px auto 30px;
    -ms-user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
    user-select:none;
    overflow-x: hidden;
    justify-content: center;
}

.album-cover{
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
}

.album-cover img{
    width: 300px;
    max-height: 300px;
    padding-top: 2px;
    
}

.album-date {
    padding-left: 5px;
    font-size: 12px;
    color:#474747;
    grid-column: 1;
    grid-row: 2; 
}

.album-name {
    padding-left: 5px;
    font-size: 25px;
    font-weight: bold;
    grid-column: 1;
    grid-row: 3; 
}

.album-region {
    padding-left: 5px;
    grid-column: 1; 
    grid-row: 4; 
    text-align: left;  
}

.album-region img {
    width: auto;
    height: 20px;
    text-align: left;  
    float: left;
}

.album-length {
    padding-left: 5px;
    font-size: 12px;
    color:#474747;
    grid-column: 1;
}

/* album info div grid */

/* track info div grid */

.track-grid {
    display: grid;
    grid-template-columns: 50px 248px 50px;
    grid-template-rows: 35px;
    margin: 0 auto;
    overflow-x: hidden;
}

.track-grid:hover {
    background-color: #2b2b2b;
    cursor: pointer;
}

.track-number {
    grid-column: 1;
    padding-left: 10px;
    padding-top: 8px;
    color:#474747;
}

.track-name {
    grid-column: 2;
    max-width: 258px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 8px;
}

.track-length {
    grid-column: 3;
    padding-top: 8px;
    color:#474747;
    padding-left: 8px;
}

.track-border {
    border-top: #2b2b2b 1px solid;
}

/* track info div grid */

/* Media Query */

@media only screen and (min-width: 500px) {
    body {
        background-color: #121212;
        color: white;
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 40px;
        padding: 0;
        width: 1250px;
        margin: 0 auto;
    }

    h2 {
        text-align: left;
        border-bottom: #2b2b2b 3px solid;
        padding-bottom: 5px;
        font-size: 50px;
    }
    
    /* album info div grid */
    
    .album-grid {
        display: grid;
        grid-template-columns: 250px 1000px;
        grid-template-rows: 30px;
        -ms-user-select:none;
       -moz-user-select:none;
       -webkit-user-select:none;
       -webkit-touch-callout: none;
       -khtml-user-select: none;
        user-select:none;
        overflow-x: hidden;
        /* width: 1000px; */
    }
    
    .album-cover{
        grid-column: 1;
        grid-row: 1/5;
        
    }
    
    .album-cover img{
        width: 250px;
        max-height: 250px;
        padding-top: 2px;
    }
    
    .album-date {
        padding-left: 5px;
        font-size: 20px;
        color:#474747;
        grid-column: 2;
        grid-row: 1; 
    }
    
    .album-name {
        padding-left: 5px;
        font-size: 50px;
        font-weight: bold;
        grid-column: 2;
        grid-row: 2; 
    }
    
    .album-region {
        padding-left: 5px;
        grid-column: 2; 
        grid-row: 4; 
        text-align: left;  
    }
    
    .album-region img {
        width: auto;
        height: 22px;
        text-align: left;  
        float: left;
    }
    
    .album-length {
        padding-left: 5px;
        font-size: 20px;
        color:#474747;
        grid-column: 2;
    }
    
    /* album info div grid */
    
    /* track info div grid */
    
    .track-grid {
        display: grid;
        grid-template-columns: 100px 1050px 100px;
        grid-template-rows: 50px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    
    .track-grid:hover {
        background-color: #2b2b2b;
        cursor: pointer;
    }
    
    .track-number {
        grid-column: 1;
        padding-left: 30px;
        padding-top: 15px;
        color:#474747;
        font-size: 20px;
    }
    
    .track-name {
        grid-column: 2;
        max-width: 258px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-top: 15px;
        font-size: 20px;
    }
    
    .track-length {
        grid-column: 3;
        padding-top: 15px;
        color:#474747;
        padding-left: 40px;
        font-size: 20px;
    }
    
    .track-border {
        border-top: #2b2b2b 1px solid;
    }
}

/* Media Query */


